* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: block;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #c6c8c9;
}
body nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b72020 !important;
  padding: 10px;
}
body nav div {
  display: flex !important;
  align-items: center !important;
  justify-content: left !important;
}
body nav div a {
  color: white;
  transition: 0.7s;
}
body nav div a:hover {
  color: #4fd06f;
  transition: 0.7s;
}
body .form-container {
  display: flex; /* Utilizamos flexbox */
  align-items: center; /* Centramos verticalmente */
  justify-content: center; /* Centramos horizontalmente */
  height: 90%;
}
body .form-container form {
  width: 35%;
  height: 300px;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .form-container form h1 {
  color: #000000;
  padding-bottom: 15px;
  margin-top: 20px;
  font-size: 2rem;
}
body .form-container form div label {
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .form-container form .contenido {
  align-items: center;
}
body .form-container form .contenido label {
  margin-bottom: 20px;
}
body .form-container form .contenido input {
  margin-bottom: 20px;
  margin-left: 18%;
  height: 40px;
  text-align: center;
}
body .form-container form .contenido h4 {
  margin-bottom: 20px;
}
body .form-container form button {
  border: solid black 1px !important;
  width: 150px;
  color: #000000 !important;
  transition: 0.7s;
  margin-bottom: 15px;
  margin-right: 15px;
}
body .form-container form #idBtnGenerarClave {
  background-color: #1ecae4 !important;
}
body .form-container form #idBtnGenerarClave:hover {
  background-color: #50e7ce !important;
  transition: 0.7s;
  color: rgb(36, 36, 36) !important;
  width: 160px;
  border: solid 1.5px black !important;
}
body .form-container form #idBtnMostrarClaves {
  background-color: #2bd51f !important;
}
body .form-container form #idBtnMostrarClaves:hover {
  background-color: #4eff41 !important;
  transition: 0.7s;
  color: rgb(36, 36, 36) !important;
  width: 160px;
}
body .form-container form #idBtnBorrarClaves {
  background-color: rgba(239, 76, 76, 0.9921568627) !important;
}
body .form-container form #idBtnBorrarClaves:hover {
  background-color: rgba(255, 109, 109, 0.9921568627) !important;
  transition: 0.7s;
  color: rgb(36, 36, 36) !important;
  width: 160px;
}
body .form-container form div input {
  width: 250px !important;
}
body .contenedor {
  width: 30%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 2px 2px 7px rgb(187, 198, 214);
  border-radius: 10px;
}
body .contenedor .lugar_foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
body .contenedor .encabezado {
  text-align: center;
  padding-bottom: 20px;
}
body .contenedor .encabezado h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #1d5fe2;
}
body .h1_usuario {
  background: linear-gradient(to right, #1d5fe2, rgb(0, 179, 255));
  margin: 0px;
  text-align: center;
  color: aliceblue;
  padding: 5px;
}
body .datos p {
  font-size: 23px;
  color: #1d5fe2;
}
body h2 span,
body p span {
  color: #000000;
  font-size: 20px;
}
body img {
  border-radius: 60%;
  width: 130px;
  height: 130px;
}
body .boton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
body button {
  width: 150px;
  height: 48px;
  border-radius: 15px;
  border: none;
  background-color: #4eff41;
  transition: 0.7s;
}
body button:hover {
  cursor: pointer;
  background-color: #2bd51f;
  transition: 0.7s;
}
@media (max-width: 560px) {
  body .form-container {
    margin: 5px 0;
  }
  body .form-container form {
    width: 85% !important;
    height: 85% !important;
  }
  body .form-container form .div {
    margin-top: 20px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding-right: 25px !important;
  }
  body .form-container form .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .form-container form .btns button {
    width: 130px !important;
    font-size: 15px;
  }
  body .form-container form .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .form-container form .contenido input {
    margin: 0;
  }
  body .contenedor {
    height: 90% !important;
    margin-bottom: 10%;
  }
  body .contenedor .lugar_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body .contenedor .lugar_foto img {
    width: 90px;
    height: 90px;
  }
  body .contenedor .datos {
    margin: 0;
    padding: 0;
  }
  body .contenedor .datos p {
    font-size: 17px;
  }
}
@media (max-width: 616px) {
  body .form-container {
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente */
    justify-content: center; /* Centramos horizontalmente */
    height: 60% !important;
  }
  body .form-container form {
    width: 92%;
    height: 45%;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .form-container form .btns button {
    width: 133px;
  }
  body .contenedor {
    width: 90%;
    height: 80%;
  }
  body .contenedor .lugar_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body .contenedor .lugar_foto img {
    width: 100px;
    height: 100px;
  }
  body .contenedor .datos p {
    font-size: 18px;
  }
}
@media (min-width: 617px) and (max-width: 768px) {
  body .form-container {
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente */
    justify-content: center; /* Centramos horizontalmente */
    height: 90%;
  }
  body .form-container form {
    width: 80%;
    height: 45%;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .form-container form .btns button {
    width: 133px;
  }
  body .contenedor {
    width: 70%;
    height: 80%;
  }
  body .contenedor .lugar_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body .contenedor .lugar_foto img {
    width: 100px;
    height: 100px;
  }
  body .contenedor .datos p {
    font-size: 18px;
  }
}
@media (min-width: 769px) and (max-width: 1098px) {
  body .form-container {
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente */
    justify-content: center; /* Centramos horizontalmente */
    height: 90%;
  }
  body .form-container form {
    width: 65%;
    height: 45%;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .form-container form .btns button {
    width: 133px;
  }
  body .contenedor {
    width: 55%;
    height: 80%;
  }
  body .contenedor .lugar_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body .contenedor .lugar_foto img {
    width: 100px;
    height: 100px;
  }
  body .contenedor .datos p {
    font-size: 18px;
  }
}
@media (min-width: 1099px) and (max-width: 1200px) {
  body .form-container {
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente */
    justify-content: center; /* Centramos horizontalmente */
    height: 90%;
  }
  body .form-container form {
    width: 45%;
    height: 45%;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .form-container form .btns button {
    width: 133px;
  }
  body .contenedor {
    width: 45%;
    height: 80%;
  }
  body .contenedor .lugar_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body .contenedor .lugar_foto img {
    width: 100px;
    height: 100px;
  }
  body .contenedor .datos p {
    font-size: 18px;
  }
}
@media (min-width: 1201px) and (max-width: 1900px) {
  body .form-container {
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente */
    justify-content: center; /* Centramos horizontalmente */
    height: 90%;
  }
  body .form-container form {
    width: 45%;
    height: 45%;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .form-container form .btns button {
    width: 133px;
  }
  body .contenedor {
    width: 40%;
    height: 75 vh;
  }
  body .contenedor .lugar_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body .contenedor .lugar_foto img {
    width: 135px;
    height: 135px;
  }
  body .contenedor .datos p {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */